{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/uikit.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js'  %}"></script>
</head>
<body>
<div class=" uk-placeholder">
    <div class="uk-flex">
        <div style="width: 100%" class="uk-card uk-card-default uk-card-body">Элемент 1</div>
    </div>
</div>
</body>
</html>